<!DOCTYPE html>
<html>
<head>
    

    {% block head %}
        <title>Micael Heber</title> 
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="/"> Sobre Mim</a>
            <a href="/portfolio"> Saúde Mental</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
</html>